.form {
  .input-group {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 0.5rem;
    padding: 0.5rem;
    max-width: calc(100% - 1rem);

    &.wide { display: flex; margin: 0; flex: 1 }
    &.narrow {
      max-width: 8rem;
      @include mobile { max-width: unset; }
    }

    span { text-align: left; font-size: 0.8em; }

    input {
      outline: none;
      border: none;
      padding: 0.5rem 0.5rem 0;
      border-bottom: 2px solid grey;
      font-family: montserrat, arial, monospace;
      font-size: 1.2em;
      background: transparent;
    }

    &:focus-within {
      span { color: #282; }
      input { border-bottom-color: green; }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    @include mobile { flex-direction: column; align-items: stretch; }
    > .input-group { flex: 1; }
  }
}
