.mailer-plugin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .headers {
      display: flex;
      flex-wrap: wrap;

    .input-group {
      display: inline-flex;
      flex-direction: column;
      margin: 0 auto 0.5rem;
      padding: 0.5rem;
      max-width: calc(100% - 1rem);

      span { text-align: left; font-size: 0.8em; }

      input {
        outline: none;
        border: none;
        padding: 0.5rem 0.5rem 0;
        border-bottom: 2px solid grey;
        font-family: montserrat, arial, monospace;
        font-size: 1.2em;
        background: transparent;
      }

      &:focus-within {
        span { color: #282; }
        input { border-bottom-color: green; }
      }
    }
  }

  textarea {
    border: 0.5px solid grey;
    &:focus { border-color: green; }
    resize: none;
    outline: none;
    max-height: 50vh;
    margin-bottom: 1rem;
    font-size: 1.2em;
    background: transparent;
  }

  .submit {
    display: flex; align-items: center;
    align-self: center; width: max-content;
    padding: 0.5rem;
    color: green;
    box-shadow: 0 0 0.15rem black;
    &.send:hover, &.refresh:active { box-shadow: 0 0 0.5rem black; }
    transition: background 0.2s ease, box-shadow 0.2s ease;
    background: white;
    cursor: pointer;
    &.send:active, &.refresh:active {
      background: green;
      color: white;
      box-shadow: none;
    }

    :first-child { margin-right: 0.5rem; }
    &.autorenew :last-child { animation: spinfinity 1.3s ease infinite; }
  }
}

@keyframes spinfinity {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
