.mailer-plugin {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .headers { display: flex; flex-direction: column; }

  textarea {
    border: 0.5px solid grey;
    &:focus { border-color: green; }
    resize: none;
    outline: none;
    max-height: 50vh;
    margin: 1rem 0;
    font-size: 1.2em;
    background: transparent;
  }

  .submit {
    display: flex; align-items: center;
    align-self: center; width: max-content;
    padding: 0.5rem;
    color: green;
    box-shadow: 0 0 0.15rem black;
    &.send:hover, &.refresh:active { @include shadow; }
    transition: background 0.2s ease, box-shadow 0.2s ease;
    background: white;
    cursor: pointer;
    &.send:active, &.refresh:active {
      background: green;
      color: white;
      box-shadow: none;
    }

    :first-child { margin-right: 0.5rem; }
    &.autorenew :last-child { animation: spinfinity 1.3s ease infinite; }
  }
}

@keyframes spinfinity {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
