.about {
  background: linear-gradient(#eee, #ccc);
  padding: 1% 5%;

  .contact-area {
    @include mobile { flex-direction: column; }
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .mail {
      width: 100%;
      max-width: 50rem;
      margin: auto;
    }
  }

  h1 { text-align: center; }
  .cover { max-width: 90vh; margin: auto; }

  .contact-info {
    display: flex; align-items: center; justify-content: center; font-size: 1.4rem;
    span { margin-right: 1rem; }
  }

  .partner-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .partner-card {
      margin: 1rem 1% 1% 1%;
      max-width: 20rem;
      width: 20%;
      min-width: 15rem;
      display: inline-block;
      flex: 1;

      img { cursor: pointer; }

      .lock-aspect { border: 1px solid black; background-color: white; }
      &:hover .lock-aspect { @include shadow; }

      &:not(.focused) .partner-info { max-height: 0 !important; }
      .partner-info {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease;
        em { margin-right: 1rem; }

        > * { margin-top: 0.25rem; }
        .org-name { font-size: 1.5em; margin-top: 0.5rem; }

        a {
          color: blue; text-decoration: none;  display: flex; align-items: center;
          .url { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        }
      }
    }
  }
}
