html, body { min-width: 100%; min-height: 100%; margin: 0; }
html, body, #root, #app-wrapper { display: flex; flex-direction: column; flex: 1; }
*::-webkit-scrollbar { width: 0 !important; }

.hidden { display: none; }
